*{
    box-sizing: border-box;
    margin: 0 auto;
    border: 0;
}

body{
    width: 100vw;
    font-family: 'Rubik Mono One', sans-serif;
    user-select: none;
}

header{
    height: 100px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 2;
}

/* FORMA BOTTONI */
.scorciatoia{
    background-color: white;
    border-radius: 50%;
    padding: 17px 22px;
    margin: 50px 20px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

/* EFFETTO SHADOW BOTTONI */
.terzo:hover {
    box-shadow: 3px 3px black ;
    border: 1px solid;
}

.secondo:hover {
    box-shadow: 3px 3px black ;
    border: 1px solid;
}

.primo:hover {
    box-shadow: 3px 3px black ;
    border: 1px solid;
}

/* DIMENSIONE SEZIONI */
.shoe{
    height: 100vh;
    width: 100vw;
}

/* POSIZIONE IMMAGINI */
.shoe img{
    top: 50%;
    left: 50%;
    transform : translate(-50% , -60%);
}

/* POSIZIONE E FORMA TESTO */
.shoe h1{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200px);
    width: 40%;
    text-align: center;
}

/* COLORI SEZIONI E TESTO */
.one{
    background-color: red;
}

.two{
    background-color: green;
}

.three{
    background-color: yellow;
}

.one h1,
.two h1{
    color: yellow;
}

.three h1{
    color: green;
}

/* CLASSI COMUNI */
.float-right{
    float: right;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}